/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-neo-sandbox-character {
	border: 4px dotted #5f5;
}

.wp-block-neo-sandbox-character {
  background-color: #342324;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}