.block-editor-block-list__layout>.wp-block-custom-cut-slider {
  margin-bottom: 20px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  padding: 2rem;
  min-height: 200px;
  max-height: 300px;
}

.block-editor-block-list__block>.wp-block-custom-cut-slider>.block-editor-inner-blocks {
  overflow-x: scroll;
}

.block-editor-block-list__block>.wp-block-custom-cut-slider>.block-editor-inner-blocks>.controls {
  display: none;
}

.block-editor-block-list__block>.wp-block-custom-cut-slider>.block-editor-inner-blocks>.wp-block-custom-cut-slide {
  display: flex;
}

.wp-block-custom-cut-slider>.block-editor-inner-blocks>.wp-block-custom-cut-slide {
  min-width: 100%;
}