<!-- wp:template-part {"slug":"header","tagName":"header","className":"landing-header","layout":{"type":"flex"}} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"displayLayout":{"type":"flex"}} -->
  <main class="wp-block-group">
    <div>Landing sturvz</div>
    <!-- wp:post-content /-->
    <div class="wp-block-columns has-background">
      <!-- wp:post-template {"displayLayout":{"type":"flex","columns":3},"layout":{"type":"flex","columns":"3"},"style":{"color":{"background":"red"}},"className":"wp-block-columns column-3"} -->
        <!-- wp:post-featured-image /-->
        <!-- wp:post-title {"isLink":true} /-->
        <!-- wp:post-author {"showAvatar":true} /-->
        <!-- wp:post-date /-->
        <!-- wp:post-excerpt /-->
        <!-- wp:post-terms {"term":"category"} /-->
      <!-- /wp:post-template -->
      <!-- wp:query-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"space-between"}} -->
        <div class="wp-block-query-pagination">
          <!-- wp:query-pagination-previous /-->
          <!-- wp:query-pagination-next /-->
        </div>
      <!-- /wp:query-pagination -->
    </div>
    <!-- wp:buttons -->
      <!-- wp:button {"title":"My Block Button","align":"right","linkTarget":"_blank","anchor":"#top","url":"https://niyiadewole.ca"} /-->
    <!-- /wp:buttons -->
  </main>
  <!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer", "style":{"color":{"background":"#2d2d2d"}} } /-->