<!-- wp:template-part {"slug":"header","tagName":"header","className":"landing-header","layout":{"type":"constrained"}} /-->
<!-- wp:template-part {"slug":"jumbotron","tagName":"div","className":"jumbotron","layout":{"type":"flex"}} /-->
<!-- wp:group {"tagName":"main","displayLayout":{"type":"flex","columns":3},"layout":{"type":"constrained"}} -->
  <main class="wp-block-group">
    <!-- wp:post-content /-->

    <!-- wp:post-template {"style":{"color":{"background":"red"}},"className":"is-flex-container columns-3"} -->
      <!-- wp:post-featured-image /-->
      <!-- wp:post-title {"isLink":true} /-->
      <!-- wp:post-author {"showAvatar":true} /-->
      <!-- wp:post-date /-->
      <!-- wp:post-excerpt /-->
      <!-- wp:post-terms {"term":"category"} /-->
    <!-- /wp:post-template -->
  </main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer", "style":{"color":{"background":"#2d2d2d"}} } /-->