.wp-block-custom-cut-slide {
  display: none;
  position: relative;
  width: 100%;
}

.wp-block-custom-cut-slide:not(.active) {
  animation: fadeOut 0.8s ease-in-out forwards;
  /* transition: opacity 0.5s 0s ease-in-out, display 0s 0.4s allow-discrete; */
}

.active,
.edit {
  display: block;
  opacity: 1;
  transition: opacity 0.8s ease-in-out, display 0.5s allow-discrete;
}

@starting-style {
  .active {
    opacity: 0;
  }
}

.wp-block-custom-cut-slide {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.wp-block-custom-cut-slide .backdrop {
  width: 100%;
  min-height: 100%;
}

.wp-block-custom-cut-slide .slide-image {
  z-index: -1;
  visibility: hidden;
  width: 100%;
  height: auto;
}

.wp-block-custom-cut-slide .slide-copy {
  max-height: 100%;
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* default to center, make configurable */
  color: #fff;
}

.wp-block-custom-cut-slide .slide-copy.has-background {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  padding: 1em;
}

.wp-block-custom-cut-slide .slide-copy.center {
  left: 25%;
  right: 25%;
}

.wp-block-custom-cut-slide .slide-copy.left {
  left: 0;
  margin-right: 50%;
}

.wp-block-custom-cut-slide .slide-copy.right {
  right: 0;
  margin-left: 50%;
}

.wp-block-custom-cut-slide .slide-title {
  text-align: center;
  margin-bottom: 0;
  padding: 1rem;
  backdrop-filter: brightness(0.5);
  text-shadow: 2px 2px 4px black;
}

.wp-block-custom-cut-slide .slide-text {
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  backdrop-filter: brightness(0.5);
  text-shadow: 2px 2px 4px black;
}


.inactive {
  transition: opacity 2s ease-in-out, trans 0s 2s;
  /* display: none; */
}